<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>amanya.ec2.ls</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1700A220-1300-44DB-BD26-35FA88A4EA90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>545F9B5D-1D26-49A2-BCBA-B66F46374C67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6EB980FB-5BFC-4690-A7BF-95895A7B6424</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>amanya</string>
	<key>description</key>
	<string>Manage EC2 Instances</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>EC2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>ec2ls</string>
				<key>runningsubtext</key>
				<string>Querying aws...</string>
				<key>script</key>
				<string>python ec2ls.py "{query}"</string>
				<key>title</key>
				<string>List running instances on EC2</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1700A220-1300-44DB-BD26-35FA88A4EA90</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>545F9B5D-1D26-49A2-BCBA-B66F46374C67</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  set myCommand to "ssh ec2-user@" &amp; q
  tell application "iTerm"
    activate
    set myterm to (current terminal)
    tell myterm
      set mysession to (launch session "server")
      tell mysession
        write text myCommand
      end tell
    end tell
  end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6EB980FB-5BFC-4690-A7BF-95895A7B6424</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1700A220-1300-44DB-BD26-35FA88A4EA90</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>545F9B5D-1D26-49A2-BCBA-B66F46374C67</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6EB980FB-5BFC-4690-A7BF-95895A7B6424</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
